* {
    font-family: Merriweather;
    font-style: normal;
}

.header {
    width: 1320px;
    height: 600px;
    /* flex-shrink: 0; */
    margin: 50px 290px;
    background-image: url('/image/Banner\ Image.png');
    background-repeat: no-repeat;
}

.heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-top: 180px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.heading1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

}

.offer {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.title {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.categories-container {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.happy-img {
    width: 802.9px;
    height: 500px;
    text-align: center;
}