.header {
    margin: 50px 140px;
    
}

.banner {

    display: flex;
    background-image: url(./image/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 16px;
    margin-top: 50px;
    margin-right: 140px;
    margin-right: 140px;
    
    /* padding: 344px 233px;  */
}

.heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 140px 344px 150px ;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-position-x: center;
    border-radius: 50px;
}
.heading1{
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}